<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Auth Callback</title>
</head>

<body>
  <div id="token">{{ token }}</div>
  <div id="user">{{ user }}</div>
  <div id="result">{{ result }}</div>
  <script>
    const tokenNode = document.getElementById('token');
    const userNode = document.getElementById('user');
    const resultNode = document.getElementById('result');
    const token = JSON.parse(tokenNode.innerText);
    const user = JSON.parse(userNode.innerText);
    const result = JSON.parse(resultNode.innerText);
    function closePageWithDelay (delay) {
        window.setTimeout(() => {
            closePage()
        }, delay)
    }

    function closePage () {
        if (window.opener) {
            window.close()
        } else {
            window.history.go(-1)
        }
    }
    if (result.success) {
        document.title = "Login Success!";
        localStorage.setItem('token', token.access_token);
        localStorage.setItem('user', userNode.innerHTML);
        // closePageWithDelay(500);
    } else {
      document.title = "Login Fail!";
      closePageWithDelay(1000);
    }

  </script>
</body>

</html>
