<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Trying to log in...</title>
  </head>

  <body>
    <h2 id="message">Trying to log in...</h2>
    <div id="token" hidden>{{ token }}</div>
    <div id="user" hidden>{{ user }}</div>
    <div id="result" hidden>{{ result }}</div>
    <script>
      const messageNode = document.getElementById('message');
      const tokenNode = document.getElementById('token');
      const userNode = document.getElementById('user');
      const resultNode = document.getElementById('result');
      const token = JSON.parse(tokenNode.innerText);
      const user = JSON.parse(userNode.innerText);
      const result = JSON.parse(resultNode.innerText);

      function updateMessage(message) {
        document.title = message;
        messageNode.innerText = message;
      }

      function closePageWithDelay(delay) {
        window.setTimeout(() => {
          closePage();
        }, delay);
      }

      function closePage() {
        if (window.opener) {
          window.close();
        } else {
            window.location.replace('/')
        }
      }
      if (result.success) {
        updateMessage('Login Success!');
        localStorage.setItem('token', token.access_token);
        localStorage.setItem('user', userNode.innerHTML);
        closePageWithDelay(500);
      } else {
        updateMessage('Login Fail!');
        closePageWithDelay(1000);
      }
    </script>
  </body>
</html>
